
@import "./utilities/colors";
@import "./utilities/typo";
@import "./utilities/reset";
@import "./sections/nav-bar";
@import "./sections/footer";
@import "./sections/index";
@import "./sections/nuestra-empresa";
@import "./sections/servicio-tecnico";
@import "./sections/laboratorio-de-reparacion";
@import "./sections/contacto";



.header-flex    {
    max-width: 100%;
img    {
    width: 150px;
}
a  {
    font-size: 20px;
}   
}




